// Подключаем шрифты
@import "fonts";

// Подключаем normalize.css https://github.com/necolas/normalize.css
@import "normalize";

// Подключаем общие стили для всего проекта
@import "config";

// Подключаем контейнер
@import "container";

/*! Основные стили */
.header {
  box-shadow: 0px 1px #a9a9a9;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  height: 39px;
}

.header__inner {
  position: relative;
  padding: 7px 0;
  display: flex;
  align-items: center;
  span {
    line-height: 100%;
  }
  img {
    margin-left: 5px;
    width: 25px;
    height: 25px;
  }
}

.events-count {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  p { 
    margin: 0;
    margin-right: 7px;
  }
}

.header__wrapper-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header__info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 3px;
  max-width: 350px;
  font-size: 16px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdebeb;
  height: calc(100vh - 96px);
  transition: background-color 1s;
}

.todo {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.todo__app {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 1920px;
  width: 100%;
  max-height: calc(100vh - 155px);
  padding: 10px;
  border: 1px solid #ff9cac;
  background-color: #000;
}

.todo__title {
  text-align: center;
  margin-bottom: 10px;
  span {
    color: #f0f8ff;
  }
}

.todo__add-task {
  display: flex;
  margin-bottom: 25px;
}

.todo__tasks {
  overflow-y: auto;
  padding-right: 10px;
}

.todo__input {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  padding: 3px 7px;
  border: 1px solid #ff9cac;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 16px;
  transition: .2s;
  &:hover, 
  &:active,
  &:focus {
    background: blanchedalmond;
    transform: scale(1.01)perspective(1px);
  }
  &::placeholder {
    opacity: 0.5;
  }
}

.btn {
  user-select: none;
  cursor: pointer;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff9cac;
  border-radius: 3px;
  font-size: 16px;
  transition: all linear .3s;
  &:hover:not([disabled="disabled"]) {
    background-color: #ff9cac;
  }
}

.todo__tasks-list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    background-color: bisque;
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 5px;
    user-select: text;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
    img {
      user-select: none;
      display: block;
      object-fit: cover;
      margin-right: 5px;
      width: 25px;
      height: 25px;
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ff9cac;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.todo__tasks-list li:last-child::after {
  display: none;
}

.todo__tasks-list:hover li::after {
  display: none;
}

.todo__tasks-list li:hover {
  border: 1px solid #ff9cac;
  border-radius: 5px;
  background: #fff!important;
  cursor: grab;
}

.complited {
  text-decoration: line-through;
  text-decoration-color:red;
}

.wrapper {
  transition: all .3s;
  display: flex;
  align-items: flex-start;
  margin-right: 25px;
  line-height: 100%;
  &:last-child {
    margin-right: 0;
  }
}

.wrapper--right {
  align-items: center;
}

.wrapper .task-text {
  padding: 0;
  margin: 0;
  line-height: 100%;
}

.icon-important,
.icon-edit {
  display: flex;
  width: 18px;
  height: 18px;
}

.btn-important,
.btn-edit {
  padding: 0;
  margin-right: 11px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.btn-operation {
  width: max-content;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.btn-complited {
  padding: 0;
  display: flex;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: transparent!important;
  }
  svg {
    width: 18px;
    height: 18px;
    transition: all linear .3s;
    
  }
}

.btn-edit {
  display: flex;
  transition: all .3s;
  svg {
    display: block;
    object-fit: cover;
    stroke: black;
  }
}

.btn-edit:hover svg {
  fill: #861f56;
}

.btn-complited:hover .done {
  fill: green !important;
}

.btn-complited:hover .reversal {
  fill: red !important;
}

.toggle-svg {
  .reversal {
    display: block!important;
  }
  .done {
    display: none;
  }
}

.btn-delite {
  padding: 0;
  display: flex;
  background-color: transparent;
  border: none;
  &:hover {
    background: transparent!important;
  }
  svg {
    display: block;
    width: 20px;
    height: 20px;
    transition: all linear .3s;
    &:hover {
      fill: red;
    }
  }
}

.btn-restore {
  background: green;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 57px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

.copyright {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 16px;
    margin: 0;
    margin-left: 20px;
  }
}

@media screen and (max-width: 576px) {
  .events-count,
  .header__wrapper-logo,
  .header__info {
    font-size: 16px;
  }
  .todo__tasks-list li img {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header {
    height: 39px;
  }
  .header__wrapper-logo {
    display: none;
  }
  .copyright__date {
    font-size: 14px!important;
  }
  .header__inner {
    padding: 20px 0;
  }
}

.priority {
  svg path {
    fill: red;
  }
}

.toggle-theme {
  cursor: pointer;
  padding: 0;
  display: flex;
  background: transparent;
  border: none;
  transition: all .9s;
  svg {
    transition: all .9s;
    display: block;
    width: 37px;
    height: 37px;
    fill: aliceblue;
  }
}

.active-light .toggle-theme__light {
  fill: #fbe846;
  transition: all .9s;
  transform: rotate(-360deg);
}

.active-night .toggle-theme__night {
  fill: #2d47b1;
  transition: all .9s;
  transform: rotate(-360deg);
}

.selected {
  opacity: 0.6;
}

.task-text:focus {
  outline: none;
}